body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(228, 152, 199), rgb(216, 177, 241));
    font-family: "Poppins";

}

.container {
    background-color: rgba(172, 54, 250, 0.233);
    border-radius: 6px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 90%;
    margin: 10px;
    text-align: center;
}

h1 {
    color: rgb(55, 0, 100);
    font-size: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 25px;
    font-weight: 400;
}

p {
    font-size: 20px;
    margin: 10px;
    font-style: italic;
}

button {
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 60px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: purple;
    box-shadow: 0 0 10px rgba(88, 5, 136, 0.966);
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(142, 36, 228, 0.5);
    color: white;
    border-color: rgba(255, 255, 255, 0.349);
}