* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    background-color: rgb(11, 93, 174);
    color: white;
    text-align: center;
}

header h1 {
    padding: 20px 0;
}

/* Content */

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}

.recipe-list {
    margin: 20px 10px;
}

.recipe-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.recipe-item img {
    width: 150px;
    height: 150px;
    object-fit: fill;
}

.recipe-item h2 {
    width: 200px;
}

.recipe-item p {
    flex-basis: 50%;
    flex-grow: 0;
    color: rgb(106, 103, 103);
}

.recipe-item a {
    color: white;
    flex-basis: 20%;
    background-color: rgb(10, 117, 205);
    text-align: center;
    padding: 20px 0;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s ease;
}

.recipe-item a:hover {
    background-color: rgb(8, 100, 176);;
}

/* Media Query */

@media  screen and (max-width: 768px) {
    .recipe-list {
        margin-top: 0;
    }
    .recipe-item {
        flex-direction: column;
        align-items: flex-start;
        max-width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
        border-radius: 5px 5px 0 0;
    }

    .recipe-item img {
        width: 100%;
        height: auto;
    }

    .recipe-item h2, p {
        padding: 0 10px;
    }

    .recipe-item a {
        width: 100%;
        border-radius: 0;
    }
}